  nav *:nth-child(1)
  {
    margin-right: 2rem;
  }
  nav { 
    flex-direction: row-reverse;
    justify-content: right;
    gap: 3rem;
}

  nav {background-color: blue;
    display: flex;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
    text-decoration-color: black;
  }
  body {
    font-size: 20px;
    line-height: 2;
    font-family: sans-serif;
    color: grey;
    margin: 0;
  }
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  main {
    width: 760px;
  }
  